
<header class="header">
<button class="back-btn" (click)="goBack()"><i class="pi pi-arrow-left"></i> Back to tasks</button>
<div class="task-title-box">
<button class="add-btn"><i class="pi pi-plus"></i></button>
<h1 class="task-title">{{task.Title}}</h1>
<button (click)="OpenEditTaskBox()" class="edit-task-button"><i></i>edit</button>
<span class="badge feature-badge">feature</span>
<span class="badge completed-badge">{{task.TaskStatus}}</span>

<span class="task-date"><i class="pi pi-calendar"></i> {{task.Deadline |date }}</span>
</div>
</header>


<main class="content-area">
<section class="description-section">
  <div class="description-heading">
<h2 ><i class="pi pi-file"></i> Description</h2>

  </div>
<p>{{task.Description}}</p>
</section>


<section class="criteria-section">
<h2><i class="pi pi-check-circle"></i> Acceptance Criteria</h2>
<ul>
<li><i class="pi pi-check"></i>{{task.AcceptanceCriteria}}</li>

</ul>
</section>


<section class="discussion-section">
<h2><i class="pi pi-comments"></i> Discussion</h2>

@for (comment of allcomments; track comment.comment_id) {
  @if(comment.created_by==user?.Name){
     <div class="message message-right">
  <div class="avatar self-avatar">{{comment.created_by.at(0)?.toUpperCase()}}</div>
<div class="bubble self">
<span class="name self-name">You</span>
<p>{{comment.content}}</p>

</div>

</div>
  }@else {
    <div class="message message-left">
<div class="avatar">{{comment.created_by.at(0)?.toUpperCase()}}</div>
<div class="bubble">
<span class="name">{{comment.created_by}} </span>
<p>{{comment.content}}</p>

</div>
</div>
  }

}



<div class="message-input">
<input type="text" placeholder="Type your message here..." [(ngModel)]="newComment"/>
<button class="send-btn" (click)="addComment()"><i class="pi pi-send"></i></button>
</div>

@if(isOpenEditTask){
  <app-edit-task [task]="task" (closeSignal)="closeEditbox()" (editSuccess)="onSuccessfulledit()"></app-edit-task>
}


