<p-toast position="top-right"></p-toast>
<div class="login-page-container">
  <div class="login-image-section">
    <img src="im2.png" alt="An image representing the platform.">
  </div>

  <div class="login-form-section">
    <div class="login-card">
      <header class="login-card-header">
        <img src="Media.jpg" alt="TaskNest logo">
        <h2>Welcome to TaskNest</h2>
        <p>Login to your account to continue</p>
      </header>

      <form class="login-form" (ngSubmit)="onSubmit()" #loginform="ngForm">
        <div class="form-control">
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required email #emailInput="ngModel" />
          @if (emailInput.touched && emailInput.invalid) {
            @if (emailInput.errors?.['required']) {
              <p class="validation-error">Email is a required field.</p>
            }
            @if (emailInput.errors?.['email']) {
              <p class="validation-error">Email is not valid.</p>
            }
          }
        </div>

        <div class="form-control">
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required minlength="10" #passwordInput="ngModel" />
          @if (passwordInput.touched && passwordInput.invalid) {
            @if (passwordInput.errors?.['required']) {
              <p class="validation-error">Password is a required field.</p>
            }
            @if (passwordInput.errors?.['minlength']) {
              <p class="validation-error">Password minimum length is 10 characters.</p>
            }
          }
        </div>
        
        <p-button type="submit" Class="button" fluid [disabled]="loginform.invalid || loading()">
          @if (loading()) {
            <span>Hang on...</span>
          } @else {
            <span>Login</span>
          }
        </p-button>
      </form>
      
      <div class="signup-link">
        <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
