<div
  class="task-card"
  [ngClass]="{
    'in-pending': task.TaskStatus === TaskStatus.Pending,
    'in-done': task.TaskStatus === TaskStatus.Done,
    'in-progress': task.TaskStatus === TaskStatus.InProgress,
    'in-review' :  task.TaskStatus === TaskStatus.InReview
  }"
  
>  
<div class="top">
  <div class="header">
    <h2 class="title">Title : {{ task.Title }}</h2>
  </div>
  <div class="action" style="display: flex;gap: 20px;">
    <button (click)="deletetask()" *ngIf="user?.Role==1"  class="delete" style="border-radius: 6px; background-color:var(--p-purple-50);cursor: pointer;" ><i class="pi pi-trash" style="color: red !important;width: 30px;border-radius:6px;"></i></button>
    <button class="comment-btn" (click)="onclick()">
  <i class="pi pi-comment"></i>
</button>
  </div>
</div>
  
  <p class="description">{{ task.Description }}</p>
  <div class="details">
    <span
      class="status"
      [ngClass]="{
        progress: task.TaskStatus === TaskStatus.InProgress,
        pending: task.TaskStatus === TaskStatus.Pending,
        done: task.TaskStatus === TaskStatus.Done,
        review:task.TaskStatus ===TaskStatus.InReview
      }"
      >{{ task.TaskStatus }}</span
    >
    <span class=" status"
    [ngClass]="{
        pending: task.TaskStatus === TaskStatus.InProgress,
        progress: task.TaskStatus === TaskStatus.Pending,
        review: task.TaskStatus === TaskStatus.Done,
        done:task.TaskStatus ===TaskStatus.InReview
      }"
    *ngIf="user?.Role != 2">Project: {{ projectName }}</span>
    <span class="status" 
    [ngClass]="{
        review: task.TaskStatus === TaskStatus.InProgress,
        done: task.TaskStatus === TaskStatus.Pending,
        pending: task.TaskStatus === TaskStatus.Done,
        progress:task.TaskStatus ===TaskStatus.InReview
      }"
    >Priority: {{ task.TaskPriority }}</span>
  </div>
  <p
    *ngIf="
      task.TaskStatus == TaskStatus.Pending ||
      task.TaskStatus == TaskStatus.InProgress
    "
    class="due-date"
    [ngClass]="{ overdue: isOverdue(task.Deadline) }"
  >
    Due: {{ task.Deadline | date : "dd/MM/yyyy" }}
  </p>
  <div class="actions" >
    <button
      *ngIf="task.TaskStatus === TaskStatus.Pending && user?.Role===2"
      class="start-button"
      (click)="onStart()"
    >
      Start
    </button>
    <button
      *ngIf="task.TaskStatus === TaskStatus.InProgress && user?.Role===2"
      class="Inprogress-button"
      (click)="onReview()"
    >
      Review
    </button>
    <button
      *ngIf="task.TaskStatus === TaskStatus.InReview && user?.Role ===1"
      class="complete-button"
      (click)="onComplete()"
    >
      Complete
    </button>
    <button
    *ngIf="task.TaskStatus != TaskStatus.Pending && user?.Role !=0 "
      class="Back-button"
      (click)="goBack()"
    >
      Back
    </button>
    <!-- <button
    *ngIf="task.TaskStatus == TaskStatus.InReview  && user?.Role == 1 "
      class="Back-button"
      (click)="goBack()"
    >
      Back
    </button> -->


    <!-- <i (click)="opencomment()" class="material-icons">chat-bubble</i> -->
  </div>
</div>
<router-outlet></router-outlet>
