<p-toast position="top-right"></p-toast>
<div class="login-page-container">
  <div class="login-image-section">
    <img src="im2.png" alt="An image representing the TaskNest platform." />
  </div>

  <div class="login-form-section">
    <div class="login-card">
      <header class="login-card-header">
        <img src="Media.jpg" alt="TaskNest logo" />
        <h2>Welcome to TaskNest</h2>
        <p>Sign Up to create your account and continue</p>
      </header>

      <form class="login-form" (ngSubmit)="onSubmit()" #signupform="ngForm">
        <div class="form-group">
          <input
            type="text"
            placeholder="Username"
            [(ngModel)]="name"
            name="username"
            required
            minlength="4"
            maxlength="20"
            #usernameInput="ngModel"
          />
          @if (usernameInput.touched && usernameInput.invalid) {
            @if (usernameInput.errors?.['required']) {
              <p class="validation-error">Username is required</p>
            }
            @if (usernameInput.errors?.['minlength']) {
              <p class="validation-error">Username must be at least 4 characters</p>
            }
          }
          @if (usernameInput.touched && name.length >= 20) {
            <p class="validation-error">Username must be maximum 20 characters</p>
          }
        </div>

        <div class="form-group">
          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            required
            email
            #emailInput="ngModel"
          />
          @if (emailInput.touched && emailInput.invalid) {
            @if (emailInput.errors?.['required']) {
              <p class="validation-error">Email is required</p>
            }
            @if (emailInput.errors?.['email']) {
              <p class="validation-error">Email is not valid</p>
            }
          }
        </div>

        <div class="form-group">
          <input
            type="tel"
            placeholder="Phone Number"
            [(ngModel)]="phonenumber"
            name="phonenumber"
            required
            pattern="[0-9]{10}"
            #phonenumberInput="ngModel"
          />
          @if (phonenumberInput.touched && phonenumberInput.invalid) {
            @if (phonenumberInput.errors?.['required']) {
              <p class="validation-error">Phone number is required</p>
            }
            @if (phonenumberInput.errors?.['pattern']) {
              <p class="validation-error">Phone number is not valid (must be 10 digits)</p>
            }
          }
        </div>

        <div class="form-group">
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
            required
            minlength="10"
            #passwordInput="ngModel"
          />
          @if (passwordInput.touched && passwordInput.invalid) {
            @if (passwordInput.errors?.['required']) {
              <p class="validation-error">Password is required</p>
            }
            @if (passwordInput.errors?.['minlength']) {
              <p class="validation-error">Password minimum length is 10 characters(atleast 1 uppercase , 1 special charcter and 1 digit )</p>
            }
          }
        </div>

        <p-button
          type="submit"
          Class="button"
          fluid
          [disabled]="signupform.invalid || loading()"
        >
          @if (loading()) {
          <span>Hang on...</span>
          } @else {
          <span>Sign up</span>
          }
        </p-button>
      </form>
      <div class="signup-link">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </div>
  </div>
</div>
