<p-toast></p-toast>
<div class="manager-container">
  <div class="dashboard-header">
    <h1>Manager Dashboard</h1>
    <p>Manage your assigned projects and tasks</p>
  </div>
  <div class="dashboard-summary">
    <div class="summary-box">
      <div class="card-items">
        <p>My Projects</p>
        <h2>{{ assignedProjects.length }}</h2>
      </div>
      <div class="total-Project-right">
        <i class="pi pi-file-o" style="font-size: 1.5rem"></i>
      </div>
    </div>
    <div class="summary-box">
      <div class="card-items">
        <p>Total Task</p>
        <h2>
          {{
            allDonetask.length + allInProgresstask.length + alltodotask.length + inReview.length
          }}
        </h2>
      </div>
      <div class="total-user-icon">
        <i class="pi pi-calendar" style="font-size: 1.5rem"></i>
      </div>
    </div>
    
    <div class="summary-box">
      <div class="card-items">
        <p>In Progress</p>
        <h2>{{ allInProgresstask.length }}</h2>
      </div>
      <div class="managers-icon">
        <i class="pi pi-calendar" style="font-size: 1.5rem"></i>
      </div>
    </div>
    
    <div class="summary-box">
      <div class="card-items">
        <p>In Review</p>
        <h2>
          {{
            inReview.length
          }}
        </h2>
      </div>
      <div class="total-user-icon">
        <i class="pi pi-list-check" style="font-size: 1.5rem"></i>
      </div>
    </div>
    <div class="summary-box">
      <div class="card-items">
        <p>Completed Task</p>
        <h2>{{ allDonetask.length }}</h2>
      </div>
      <div class="active-tasks-icon">
        <i class="pi pi-check-circle" style="font-size: 1.5rem"></i>
      </div>
    </div>
  </div>

  <div class="main-section">
    <div class="bock-titel">
      <h3>My Assigned Projects</h3>
      <p>Project you are managing</p>
    </div>
    @if(projectLoader){
      <app-loader></app-loader>
      }@else {
        @if(assignedProjects.length>0){
          <div class="project-box">
      @for (item of assignedProjects; track item.ProjectId) {
      <app-projectbox
        [Project]="item"
        (loadTasksignal)="loadTask($event)"
        (Addtasksignal)="openaddtask($event)"
      ></app-projectbox>
      }
    </div>
        }@else {
        <div class="no-projects-note">
          <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--p-purple-500);"></i>
          <p>No projects assigned to you.</p>
        </div>
        }
      }
  </div>
  @if(shouldLoad){
  <div class="task-section" #secondDiv>
    <h3>Tasks</h3>
    @if(taskLoader){
      <app-loader></app-loader>
    }@else{
      <div class="task-box-section">
      @if(SingleProjectTask.length>0){
      <div class="task-box">
        @for(task of SingleProjectTask;track task.TaskId){
        <app-taskbox
          [task]="task"
          [projectName]="projectName"
          (openComments)="onopencomment($event)"
          (deleteTask)="taskdelete($event)"
        ></app-taskbox>
        }
      </div>

      }@else {
      <div class="no-task">
        <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--p-purple-500);"></i>
        <p>Sorry No Task</p>
      </div>
      }
    </div>
    }
    
  </div>
  }
</div>
<app-addtask
  *ngIf="isaddtaskopen"
  (closepopup)="oncloseaddtaskbox()"
  [ProjectId]="ProjectIdforAddTask"
></app-addtask>
