<div class="overlay">
  <div class="overlay-content">
    <div class="profile-card" *ngIf="OpenProfileBar()">

    <button class="close-btn" (click)="close()">&times;</button>

    <div class="profile-header">
      <div class="avatar">{{userProfile().Name.at(0)+ userProfile().Role.charAt(0)}}</div>
      <h3>Profile Settings</h3>
      <p>Manage your account information</p>
    </div>

    <div class="user-details">
      <div class="detail-item">
        <label>Full Name</label>
        <p>{{userProfile().Name}}</p>
      </div>
      <div class="detail-item">
        <label>Email</label>
        <p>{{userProfile().Email.replace('USER#', '')}}</p>
      </div>
      <div class="detail-item">
        <label>PhoneNumber</label>
        <span class="role-badge">{{userProfile().PhoneNumber}}</span>
      </div>
    </div>

    <button class="edit-btn" (click)="toggleEditMode()" [disabled]="isLoading()">
     Edit Profile
    </button>
  </div>

  <div class="editprofile" *ngIf="OpenEditMenu()">
    <button class="close-btn" (click)="close()">&times;</button>
    <div class="profile-header">
      <div class="avatar">{{userProfile().Name.at(0)+ userProfile().Role.charAt(0)}}</div>
      <h3>Edit Profile</h3>
      <p>Manage your account information</p>
    </div>
    <div class="updateform">
      <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
        <label for="name">Full Name</label>
        <input type="text" id="name" formControlName="name">
        @if (profileForm.get('name')?.touched && profileForm.get('name')?.invalid) {
          @if (profileForm.get('name')?.errors?.['required']) {
            <p class="validation-error">Name is required</p>
          }
          @if (profileForm.get('name')?.errors?.['maxlength']) {
            <p class="validation-error">Name must be maximum 20 characters</p>
          }
        }

        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        @if (profileForm.get('email')?.touched && profileForm.get('email')?.invalid) {
          @if (profileForm.get('email')?.errors?.['required']) {
            <p class="validation-error">Email is required</p>
          }
          @if (profileForm.get('email')?.errors?.['email']) {
            <p class="validation-error">Email is not valid</p>
          }
        }

        <label for="phonenumber">Phone Number</label>
        <input type="text" id="phonenumber" formControlName="phoneNumber">
        @if (profileForm.get('phoneNumber')?.touched && profileForm.get('phoneNumber')?.invalid) {
          @if (profileForm.get('phoneNumber')?.errors?.['required']) {
            <p class="validation-error">Phone number is required</p>
          }
          @if (profileForm.get('phoneNumber')?.errors?.['pattern']) {
            <p class="validation-error">Phone number is not valid (must be 10 digits)</p>
          }
        }

        <div class="action">
          <button type="submit" [disabled]="profileForm.invalid || isLoading()">
            {{ isLoading() ? 'Saving...' : 'Save Changes' }}
          </button>
          <button type="button" (click)="cancelEdit()" [disabled]="isLoading()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
