
<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Employee Dashboard</h1>
    <p>Manage your assigned tasks and track progress</p>
  </div>
  <div class="dashboard-summary">
    <div class="summary-box">
      <div class="card-items">
        <p>Total Task</p>
        <h2>{{ todo.length + inProgress.length + done.length }}</h2>
      </div>
      <div class="total-Project-right">
        <i class="pi pi-calendar" style="font-size: 1.5rem"></i>
      </div>
    </div>
    <div class="summary-box">
      <div class="card-items">
        <p>To Do</p>
        <h2>
          {{
            todo.length
          }}
        </h2>
      </div>
      <div class="total-user-icon">
        <i class="pi pi-clock" style="font-size: 1.5rem"></i>
      </div>
    </div>

    <div class="summary-box">
      <div class="card-items">
        <p>In Progress</p>
        <h2>{{ inProgress.length }}</h2>
      </div>
      <div class="active-tasks-icon">
        <i class="pi pi-hourglass" style="font-size: 1.5rem"></i>
      </div>
    </div>
    <div class="summary-box">
      <div class="card-items">
        <p>Completed</p>
        <h2>{{ done.length }}</h2>
      </div>
      <div class="managers-icon">
        <i class="pi pi-check-circle" style="font-size: 1.5rem"></i>
      </div>
    </div>
  </div>


  <div class="tasks-main-section">
    <div class="tasks-block to-do">
      <div class="block-title">To Do Tasks</div>

      <p pTooltip="Enter your username" tooltipPosition="right">
        Tasks that need to be started
      </p>
      @if(showLoader){
        <app-loader></app-loader>
      }@else {
        @if(todo.length>0){
 <div class="task-box">
        <ul>
          <li *ngFor="let task of todo">
            <app-taskbox
              [task]="task"
              (statusChange)="onStatusChange($event,task)"
              (openComments)="onopencomment($event)"
            ></app-taskbox>
          </li>
        </ul>
      </div>
        }@else {
          <div class="no-task">
        <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--p-purple-500);"></i>
        <p>Sorry No Task</p>
      </div>
        }
      }
     
    </div>
    <div class="tasks-block in-progress">
      <div class="block-title">In Progress</div>
      <p>Tasks you're currently working on</p>
      @if(showLoader){
        <app-loader></app-loader>
      }@else {
        @if(inProgress.length>0){
 <div class="task-box">
        <ul>
          <li *ngFor="let task of inProgress">
            <app-taskbox
              [task]="task"
              (statusChange)="onStatusChange($event,task)"
              (openComments)="onopencomment($event)"
            ></app-taskbox>
          </li>
        </ul>
      </div>
        }@else {
          <div class="no-task">
        <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--p-purple-500);"></i>
        <p>Sorry No Task</p>
      </div>
        }
      }
    </div>
    <div class="tasks-block inreview">
      <div class="block-title completed-title">In Review</div>
      <p>Awaiting approval</p>
      @if(showLoader){
        <app-loader></app-loader>
      }@else {
        @if(done.length>0){
 <div class="task-box">
        <ul>
          <li *ngFor="let task of done">
            <app-taskbox
              [task]="task"
              (openComments)="onopencomment($event)"
            ></app-taskbox>
          </li>
        </ul>
      </div>
        }@else {
          <div class="no-task">
        <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--p-purple-500);"></i>
        <p>Sorry No Task</p>
      </div>
        }
      }
    </div>
    <div class="tasks-block completed">
      <div class="block-title completed-title">Completed</div>
      <p>Tasks you've finished</p>
      @if(showLoader){
        <app-loader></app-loader>
      }@else {
        @if(done.length>0){
 <div class="task-box">
        <ul>
          <li *ngFor="let task of done">
            <app-taskbox
              [task]="task"
              (openComments)="onopencomment($event)"
            ></app-taskbox>
          </li>
        </ul>
      </div>
        }@else {
          <div class="no-task">
        <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--p-purple-500);"></i>
        <p>Sorry No Task</p>
      </div>
        }
      }
    </div>

    <app-comment
      *ngIf="showComments"
      [isOpen]="showComments"
      [task]="selectedTask"
      (close)="closecommentbox()"
    ></app-comment>
  </div>
  <div></div>
</div>
