<div class="modal" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Task Comments - {{ task?.Title }}</h2>
      <button class="close-button" (click)="closeDialog()">&times;</button>
    </div>
    <div class="comments-list">
      <div *ngFor="let comment of allcomments" class="comment-item">
        <div class="comment-header">
          <span class="comment-user">{{ comment.created_by }}</span>
          <span class="creation-time">{{comment.created_at}}</span>
        </div>
        <p class="comment-content">{{ comment.content }}</p>
      </div>
      <div *ngIf="allcomments.length === 0" class="no-comments">
        No comments
      </div>
    </div>
    <div class="comment-form">
      <label for="newComment">Write your comment</label>
      <textarea
        id="newComment"
        [(ngModel)]="newComment"
        placeholder="Enter your comment here..."
        rows="3"
        maxlength="200"
        minlength="2"
        (keyup.enter)="addComment()"
      ></textarea>
      <div class="form-actions">
        <button class="clear-button" (click)="clearComment()" type="button">
          Clear
        </button>
        <button
          class="post-button"
          (click)="addComment()"
          [disabled]="!newComment.trim()"
        >
          Post Comment
        </button>
      </div>
    </div>
  </div>
</div>
